.btn {
  padding: 1rem 3rem;
  border-radius: 1rem;
  border: none;
  font-family: "Open sans";
  font-size: 1.7rem;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &--yellow {
    background-color: var(--color-yellow);
    color: var(--color-grey-dark);

    &:hover {
      background-color: var(--color-yellow-light);
    }
  }

  &--red {
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 1.5rem 10rem;

    @include respond(medium) {
      padding: 1.5rem 7rem;
    }

    @include respond(phone) {
      padding: 1.5rem 10rem;
    }

    &:hover {
      background-color: var(--color-red-light);
    }
  }

  &--modal {
    height: 5.5rem;
  }

  &--phone {
    padding: 1rem 5rem;

    @include respond(phone) {
      padding: 1rem 3rem;
    }
  }
}
