.conditions {
  position: relative;
  overflow: hidden;

  &__icons {
    display: grid;
    grid-template-columns: repeat(3, 27.5rem);
    grid-gap: 3rem;
    justify-items: center;
    padding-top: 5rem;
    position: relative;
    z-index: 1;

    @include respond(tab-land) {
      grid-template-columns: repeat(2, 35rem);
    }

    @include respond(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__icons-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  &__icon-box {
    border-radius: 50%;
    background-color: var(--color-grey-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
  }

  &__text {
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.7rem;
  }

  &__image {
    position: absolute;
    right: -8%;
    bottom: 0;
    width: 40rem;

    @include respond(big-desktop) {
      right: 0;
    }

    @include respond(medium) {
      display: none;
    }
  }
}
