.description {
  position: relative;
  overflow: hidden;

  &__header {
    grid-column: 1 / 11;
  }

  &__body {
    grid-column: 1 / -1;
    position: relative;
  }

  &__list {
    list-style: none;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
  }

  &__list-item {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: min-content 1fr;

    @include respond(phone) {
      font-size: 1.6rem;
    }

    @include respond(medium) {
      font-size: 1.7rem;
    }

    @include respond(tab-port) {
      font-size: 1.7rem;
    }

    &--bold {
      font-weight: 600;
      margin-bottom: 2.5rem;
    }
  }

  &__list-span {
    @include respond(medium) {
      padding-right: 15rem;
    }
  }

  &__image {
    display: none;

    @include respond(medium) {
      width: 62rem;
      position: absolute;
      right: -15%;
      bottom: 0;
      z-index: 0;
      display: block;
    }

    @include respond(tab-port) {
      width: 80rem;
    }

    @include respond(tab-land) {
      width: 80rem;
      right: 0;
    }
  }
}
