.footer {
  &__header {
    display: grid;
    gap: 2rem;

    @include respond(phone) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.6rem;
    padding: 1rem 0;
    text-align: justify;
  }
}
