.header {
  background-image: url("~@/assets/images/bg.jpeg");
  background-size: cover;
  margin-bottom: 2rem;
  height: 55rem;
  position: relative;

  @include respond(phone) {
    height: 62rem;
  }

  @include respond(tab-port) {
    height: 55rem;
  }

  &__inner {
    position: relative;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @include respond(phone) {
      width: 54rem;
    }

    @include respond(medium) {
      width: 72rem;
    }

    @include respond(tab-port) {
      width: 96rem;
    }

    @include respond(tab-land) {
      min-width: 117rem;
    }
  }

  &__content {
    margin-top: 2rem;
    padding: 0 0.5rem;

    @include respond(medium) {
      padding: 0 3rem;
    }
  }

  &__content-top {
    @include respond(phone) {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 2rem;
      align-items: center;
      padding: 0 0.5rem;
    }
  }

  &__content-bottom {
    @include respond(phone) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      padding: 0 3rem;
    }

    @include respond(medium) {
      padding: 0 0.5rem;
    }

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    font-size: 1.2rem;
    padding: 1rem 0;
    display: block;
    text-align: center;

    @include respond(phone) {
      font-size: 1.6rem;
      text-align: left;
    }

    &--date {
      background-color: #4c8bb3;
      border-radius: 2rem;
      padding: 0.5rem;
      display: flex;
      color: var(--color-white);
      text-align: center;
      font-size: 1.4rem;
      justify-content: center;
      align-items: center;
      width: 19rem;
      margin: 0 auto;

      @include respond(phone) {
        height: 4rem;
        display: inline-flex;
        width: 21rem;
        font-size: 1.6rem;
      }

      @include respond(tab-port) {
      }
    }

    &--pts {
      font-weight: 600;

      @include respond(medium) {
        display: block;
      }
    }

    &--gift {
      display: block;

      @include respond(medium) {
        display: inline;
      }
    }

    &--petrol {
      display: block;

      @include respond(medium) {
        display: inline;
      }

      @include respond(tab-port) {
        display: block;
      }
    }
  }

  &__heading {
    font-size: 3.5rem;
    line-height: 3.7rem;
    font-weight: 800;
    text-align: center;
    padding: 1rem 2rem;

    @include respond(phone) {
      font-size: 4.4rem;
      line-height: 5.2rem;
    }

    @include respond(tab-port) {
      text-align: left;
      padding: 2rem 40rem 0 0;
    }

    &--secondary {
      font-size: 2.1rem;
      line-height: 2.5rem;
      font-weight: 700;
      text-align: center;
      padding-top: 1rem;

      @include respond(phone) {
        text-align: left;
      }

      @include respond(medium) {
        font-size: 2.7rem;
        line-height: 3.6rem;
      }

      @include respond(tab-port) {
        font-size: 3.6rem;
        line-height: 4.9rem;
        padding-top: 3.5rem;
      }
    }
  }

  &__btn {
    transform: translateY(2rem);
    height: 5rem;
    width: 19rem;
    margin: 0 auto;

    @include respond(phone) {
      width: 15rem;
    }

    @include respond(tab-port) {
      margin: 0;
      width: 29rem;
      transform: translateY(5.5rem);
    }
  }

  &__image {
    width: 25rem;
    position: absolute;
    bottom: -1.6rem;
    z-index: 0;
    left: 50%;
    transform: translate(-50%, 0);

    @include respond(phone) {
      width: 40rem;
      bottom: -2.6rem;
    }

    @include respond(medium) {
      width: 49rem;
      bottom: -3.1rem;
    }

    @include respond(tab-port) {
      right: 0;
      transform: none;
    }

    @include respond(tab-land) {
      width: 60rem;
      bottom: -4rem;
    }
  }
}
