.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  overscroll-behavior: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: var(--color-white);
    width: 95%;
    border-radius: 1.2rem;

    @include respond(phone) {
      width: 80%;
      max-width: 50rem;
    }
  }

  &__header {
    font-size: 1.7rem;
    text-transform: uppercase;
    background-color: var(--color-yellow);
    text-align: center;
    padding: 2rem;
    border-radius: 1.2rem 1.2rem 0 0;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: var(--color-grey-dark);
    position: relative;
  }

  &__body {
    padding: 3rem 1.5rem;

    @include respond(phone) {
      padding: 3rem 3rem;
    }
  }

  &__close {
    position: absolute;
    top: .1rem;
    right: 1rem;
    text-transform: lowercase;
    cursor: pointer;
    font-size: 2rem;
  }
}
