@font-face {
  font-family: 'Open sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  src: url('../fonts/OpenSans-Regular.ttf');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Open sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  src: url('../fonts/OpenSans-SemiBold.ttf');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Open sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  src: url('../fonts/OpenSans-Bold.ttf');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Open sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  src: url('../fonts/OpenSans-ExtraBold.ttf');
  font-display: swap;
  font-weight: 800;
}


.telephone {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-black);
  text-decoration: none;

  &:hover {
    color: var(--color-red);
  }
}

.mail {
  color: var(--color-black);
  font-weight: 600;
  font-size: 14px;
}

.heading-3 {
  font-size: 2.1rem;
  line-height: 2.9rem;
  font-weight: 300;

  @include respond(phone) {
    font-size: 2.7rem;
    line-height: 3.7rem;
  }

  @include respond(phone) {
    font-size: 3.5rem;
    line-height: 4.8rem;
  }
}

.heading-4 {
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 300;
  padding: 0 3rem;
  display: inline-block;

  @include respond(medium) {
    padding: 0 1.5rem;
  }

  &--modal {
     padding: 0 3rem;
  }
}

.hyperlink {
  color: var(--color-red);
}

.grey-dark {
  color: var(--color-grey-dark);
}
