.justify-right {
  justify-self: right;
}

.align-center {
  align-self: center;
}

.block {
  display: block;

  @include respond(medium) {
    display: inline;
  }
}

.hashtags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;

  @include respond(phone) {
    font-size: 2.2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.hashtag {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-grey-dark);
  border: 1px solid #d6d6d6;
  border-radius: 1.5rem;
  padding: 0.1rem 0.7rem;
  margin: 0 1rem 1.5rem 0;

  @include respond(phone) {
    font-size: 1.4rem;
    padding: 0.1rem 2rem;
  }

  @include respond(medium) {
    font-size: 1.7rem;
  }

  @include respond(tab-port) {
    padding: 0.1rem 2.5rem;
  }
}

.map {
  position: relative;
  width: 100%;
  height: 60rem;

  &__header {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: var(--color-yellow);
    color: var(--color-grey-dark);
    font-size: 1.6rem;
    width: 80%;
    max-width: 57rem;
    text-align: center;
    transform: translateX(-50%);
    padding: 0.3rem 3rem;
    border-radius: 0px 0px 15px 15px;

    @include respond(medium) {
      font-size: 2.7rem;
      text-align: center;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
}

.text-center {
  text-align: center;
}

.label {
  color: white;

  &__agreement {
    grid-column: 1 / -1;

    &--application {

      @include respond(medium) {
        grid-row: 2;
      }

      @include respond(tab-port) {
        grid-column: 1 / -1;
      }

      grid-column: 1 / 2;
    }
  }
}
